

div.ajax-loader {
  @include opacity(.6);  
  background: url('../images/ajax-loader.gif') 50% 50% no-repeat;
}

div.ajax-loader-inline {
  @include opacity(.6);  
  background: url('../images/ajax-loader.gif') no-repeat;
}

.semi-visible {
  @include opacity(.6);  
}