p {
  &.big {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &.bottom {
    margin-bottom: 10px;    
  }
  &.top {
    margin-top: 10px;    
  }
}


ul.vertical-space {
  li { margin-bottom: 5px; } 
}

.hot {
  color: rgb(242, 116, 144)  
}
.fixed {
  position: relative;
  height: 0;
}
.fright {
  float: right;  
}
.fleft {
  float: left;  
}
ul.bare {
  list-style: none;
}
.right-handed {
  text-align: right;  
}

.desc {
  color: #888;
  &.small {
    font-size: 12px;
  }
}


