

@mixin bubble($bubble-background-color) {
  padding: 3px;
  background-color: $bubble-background-color;
  @include border-radius(2px);
}

@mixin box($box-border-color, $box-background-color) {
  @include border-radius(3px);
  border: 1px solid $box-border-color;
  background-color: $box-background-color;
}

.bubble {
  @include bubble(gray(230));
}

.box {
  @include box(gray(200), gray(240));
  @include border-radius(1px);
}