
@mixin defaultButton() {
  font-size: 13px;
  font-weight: bold;
  padding: 2px 4px;
  cursor: pointer;
  margin: 7px 0;
  
  &:hover { 
    border: 1px solid #aaa;
    color: #666; 
  }
  &:active, &:focus {
    outline: medium none;
    @include gradient-vertical(gray(239), gray(233));
  }
}

@mixin btn-base {
  @include border-radius(1.5px);
  font-family: "Arial";
  font-weight: bold;
  color: #777;
  border: 1px solid gray(220);
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  outline: medium none;
  
  i, .img, .caret {
    @include opacity(.7);  
  }
  
  &:hover {
    @include transition(all .1s);
    @include gradient-vertical(gray(249), gray(235));
    @include box-shadow(#{0 1px 1px rgba(0, 0, 0, .07)});
    border: 1px solid gray(195);
    color: #555;

    i, .img, .caret {
      @include opacity(1);  
    }
  }
  
  &:hover:focus {
    border: 1px solid gray(180);
    @include transition(all .1s);
    @include box-shadow(#{0 1px 1px rgba(0, 0, 0, .13)});
    border: 1px solid gray(195);
    color: #555;
  }
  
  &:hover:active {
    border: 1px solid gray(180);
    @include box-shadow(#{
      inset 0 1px 1px rgba(0, 0, 0, .1), 
      inset 1px 0 0px rgba(0, 0, 0, .05), inset -1px 0 0px rgba(0, 0, 0, .05)
    });
  }
  
  &:focus {
    border: 1px solid #bbb;
    @include element-focus();
  }
  
  &.active, &.open {
    border: 1px solid gray(190);
    border-top-color: gray(170);
    @include element-unselectable();
    @include gradient-vertical(gray(237), gray(225));
    @include box-shadow(#{
      inset 0 2px 1px rgba(0, 0, 0, .1), 
      inset 1px 0 0px rgba(0, 0, 0, .05), 
      inset -1px 0 0px rgba(0, 0, 0, .05)
    });
  }
  &.wide {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  // dodaj tez dla tych dropdown menu
  

}

@mixin btn-bump {
  @include gradient-vertical(gray(242), gray(235));
}

.btn-bump, .btn-flat, .btn-default {
  @include btn-base ;
  @include btn-bump;
}