

@mixin base-button($bg-color: rgb(98, 148, 209)) {
  @include gradient-vertical($bg-color, darken($bg-color, 4%));
  @include border-radius(2px);
  border: 1px solid darken($bg-color, 5%);
  color: $white;
  font-size: 11px;
  letter-spacing: 1px;
  text-align: center;
  margin: 10px 0;
  padding: 9px 14px;
  font-weight: bold;
  text-shadow: none;
  min-width: 90px;
  text-transform: uppercase;
    
  &:hover {
    @include gradient-vertical(saturate($bg-color, 10%), saturate(darken($bg-color, 8%), 10%));
    border: 1px solid darken($bg-color, 14%);
    color: $white !important;
    @include box-shadow(#{0 1px 1px rgba(0, 0, 0, .14)});
  }
  &:active, .active {
    $darker: darken($bg-color, 1%);
    $darker2: darken($bg-color, 12%);
    @include gradient-vertical($darker, $darker2);
    @include box-shadow(#{inset 0 1px 1px rgba(0, 0, 0, 0.15)});
    border: 1px solid darken($basic-button-hightlight-color, 30%);
    color: $white;
  }
  &:focus {
    outline: 0;
    outline-offset: 0;
    border: 1px solid darken($bg-color, 20%);
    color: $white;
  }
  &.space-top {
    margin-top: 15px;
  }
}

.submit-button, .btn-submit, .btn-primary {
  @include base-button();
}

.btn-success {
  @include base-button($green-success);
}

.btn-log, .btn-create, .btn-warning, .btn-danger {
  @include base-button($goog-red);
}
