.btn-clean, .btn-white {
  @include gradient-vertical(gray(252), gray(248));
  color: #777;
  
  &:hover {
    color: #555;  
  }
  
  &:active, &:focus {
    @include box-shadow(#{inset 0 1px 1px gray(180)});
  }
  
  a {
    color: #999;  
  }
}
