

.btn {
  @extend .btn;
  padding: 7px 12px;
  font-weight: bold;
  border: 1px solid $btn-border;
  
  // Hover state
  &:hover {
    color: $gray-dark;
    text-decoration: none;
    *background-color: darken($white, 15%); /* Buttons in IE7 don't get borders, so darken on hover */
    
    background-position: 0 0;
    
    // transition is only when going to hover, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    // @include transition(background-position .1s linear);
  }
}

.form-inline, .form-horizontal {
  .btn {
    margin: 0 auto;
  }
}

.btn:focus, .btn:active:focus, .active.btn:focus {
  outline: none;
  outline-offset: 0px;
}