


input, button, select, .form-control {
  
  display:-webkit-box;
  display:-moz-box;
  display:box;
  
  @include border-radius(2px);
  border: 1px solid #bbb;
  color: $basic-button-font-color;
  padding: 0px 3px;
  font-family: "arial", "sans-serif";
  
  &:hover { 
    color: #999;
    color: darken($basic-button-font-color, 4);
    border: 1px solid #aaa;
  }
  
  &:active, &:focus {
  }
  
  @include element-disabled();
}

select {
  line-height: 30px;
  height: 34px;
  padding: 3px;
  margin-right: 3px;
  @include btn-base;
  @include btn-bump;

  option {
    padding: 3px;  
    color: #333;
  }
  
  &.select-symbol {
    font-size: 20px !important;
    width: 50px !important;
    margin: 15px 0;
  }
  &:focus, &:active {
      border: 1px solid $basic-button-hightlight-color;
  }
}

select .ui-default-select {
  @include border-radius(2px);
  @include gradient-vertical(rgb(250, 250, 250), rgb(240, 240, 240));
  font-weight: bold;
  height: 30px;
  padding: 5px 10px;

  &:hover { 
    @include gradient-vertical(rgb(250, 250, 250), rgb(245, 245, 245));
  }

  option {
    padding: 5px 10px; 
  }
}
