//
// Control groups
// --------------------------------------------------

@mixin input-padding($padding) {
  input:not([type="submit"]){
    padding: 0 0 0 $padding !important;
  }
}

.controls-xsmall {

  input, button, select {
    margin: 3px 0;
    padding: 0 5px!important;
    font-size: 12px !important;
    height: 20px !important;
    line-height: 15px !important;
    border-radius: 1px !important;
  }
  @include input-padding(5px);
}


.controls-normal {
  
  input, button, select {
    margin: 3px 0;
    padding: 0 5px!important;
    font-size: 13px;
    height: 30px !important;
    line-height: 15px !important;
    border-radius: 1px !important;
  }
  @include input-padding(5px);
}

.controls-xlarge {
  input, button, select {
    margin: 5px 0;
    padding: 0 10px!important;
    font-size: 20px !important;
    height: 50px !important;
    line-height: 30px !important;
    border-radius: 2px !important;
  }
  @include input-padding(10px);

}

