a.dropdown-toggle {
  &:hover {
    text-decoration: none;  
    @include opacity(1);  
  }
  
  i {
    @include opacity(.4);  
    &.caret { @include opacity(.3); }
  }
}
.on-hover {
  @include transition(#{opacity 1s linear});
  .show-on-hover {
    @include opacity(0);
  }
  &:hover .show-on-hover {
    @include opacity(1);
  }
    &:hover .show-on-hover-30 {
    @include opacity(.3);
  }
}

.img-circle {
  @include border-radius(500px);
}

