
/* Removes shadow on inputs and textareas */

textarea, input[type="text"] {
  -webkit-appearance: none;
}


input {
  @include border-radius(1px);
  @include box-sizing(border-box);
  vertical-align: center;
  padding: 2px 0 2px 3px;
  font-size: 13px;
   
  &[type="text"], &[type="number"], &[type="password"], &[type="date"], &.default-input {
    display: block;
    border: 1px solid gray(200);
    border-top: 1px solid gray(170);
    color: #333;
    padding: 3px 2px;
    line-height: normal;
    
    &:hover {
      border: 1px solid gray(161);
    }
    
    &:focus {
      @include element-focus();
    }
  }
  
  &.ui-default-button {
    @include defaultButton();
  }
  
  &.large {
    height: 40px;
    font-height: 40px;
    font-size: 20px;
    padding-left: 10px; 
  }
  
  &.medium {
    height: 32px;
    font-height: 30px;
    font-size: 17px;
    padding: 3px 0 3px 6px;
  }
  
  &.big {
    height: 35px;
    font-height: 30px;
    font-size: 17px;
    padding: 4px 0 4px 8px;
    margin-bottom: 4px;
 
  }
}

.short {
  width: 70px !important;
}