//
// Stylesheets for markup in markdown.
//
// ---

.markdown-article {
  
  margin-top: 20px;
  margin-bottom: 10px;
  
  ol { 
    counter-reset: item;
  
    li { 
      display: block;
      margin-top: 3px;

      &:before { 
        content: counter(item); 
        counter-increment: item;
        color: $link-color;
        font-size: 16px;
        font-weight: bold;
        float: left;
        margin-left: -25px;
      }
    }
  }
  
  ul {
    margin-bottom:10px;
  }
}
