.modal {
  @extend .modal;
  border: 9px solid #999;
  border: 9px solid rgba(0,0,0,.3);
  *border: 9px solid #999; /* IE6-7 */
}

.modal-backdrop {
  @include transition(all 1s linear);
  @include opacity(0.5);
}

.close {
  font-size: 28px;
  margin-top: 4px;
  margin-right: 4px;
  @extend .close;
}