

.end, .start {
  z-index: 10; 
  position: relative;
  &:hover {
    z-index: 1000; 
  }
}

.end {
  margin: 0;
  margin-left: -5px;
  @include border-radius(0 $btn-group-border-radius $btn-group-border-radius 0);
}

.start {
  margin: 0;
  @include border-radius($btn-group-border-radius 0 0 $btn-group-border-radius );
}

.start-vertical { 
  margin: 0;
  margin-bottom: -1px;
  @include border-radius($btn-group-border-radius $btn-group-border-radius 0 0);
}

.end-vertical {
  margin: 0;
  @include border-radius(0 0 $btn-group-border-radius $btn-group-border-radius);
}

.border-bottom-radius {
  @include border-radius(0 0 $btn-group-border-radius $btn-group-border-radius);
}

.border-top-radius{
  @include border-radius($btn-group-border-radius $btn-group-border-radius 0 0);
}
.border-right-radius {
  @include border-radius(0 $btn-group-border-radius $btn-group-border-radius 0);
}

.border-left-radius {
  @include border-radius($btn-group-border-radius 0 0 $btn-group-border-radius);
}

@mixin border-bottom-radius($btn-group-border-radius) {
  @include border-radius(0 0 $btn-group-border-radius $btn-group-border-radius);
}

@mixin border-top-radius($btn-group-border-radius) {
  @include border-radius($btn-group-border-radius $btn-group-border-radius 0 0);
}
@mixin border-right-radius($btn-group-border-radius) {
  @include border-radius(0 $btn-group-border-radius $btn-group-border-radius 0);
}

@mixin border-left-radius($btn-group-border-radius) {
  @include border-radius($btn-group-border-radius 0 0 $btn-group-border-radius);
}
