@mixin nav-tabs-base() {
  &.nav-tabs {
    border-bottom: 0;
    margin-bottom: 20px;  
  }
  
  text-align: right;
  
  li {
    font-size: 13px;
    font-weight: bold;
    color: gray(170);
    cursor: mouse;
    margin-right: 15px;
    cursor: hand;
    cursor: pointer; 
    i {
      @include opacity(.5);
    }
    
    &:hover {
      color: gray(110);
      
      i {
        @include opacity(.8);
      }
    }
  }
}

.nav-tabs-default {
  margin-bottom: 5px;  
  
  li {
    color: gray(90)!important;
  }
  
  li.active {
    color: gray(90) !important;
    
    i {
      @include opacity(1);
    }
  }
  @include nav-tabs-base();
}

.nav.tabs-right {
  li {
    float: right;
  }
}



ul.nav-tabs-red {
  li.active {
    color: gray(90);
    border-bottom: 3px solid $nav-tabs-red;
    
    i {
      @include opacity(1);
    }
  }
  @include nav-tabs-base();
 
}